<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('403')}">
</head>
<body>

<div class="welcome-container">
  <h2>Доступ запрещён</h2>
  <img
          src="/images/403.gif"
          class="shop-image">
  <div style="text-align: center; margin-top: 20px;">
    <a th:href="@{/api/admins/home}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
       style="color: #337ab7; text-decoration: none;">← Вернуться на главную</a>

    <a th:href="@{/api/users/home}"
       style="color: #337ab7; text-decoration: none;">← Вернуться на главную</a>
  </div>
</div>
<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>