<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('Редактирование товара')}">
</head>

<body>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

<div class="welcome-container">

    <div th:if="${hasConflict}" class="alert alert-danger">
        <h4 th:text="${conflictMessage}"> </h4>
        <table class="table">
            <thead>
            <tr>
                <th>Название товара</th>
                <th>Текущая цена</th>
                <th>Текущее количество</th>
                <th>Предложенная цена</th>
                <th>Предложенное количество</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stockQuantity}"></td>

                <td th:text="${conflictUpdateDto.price}"></td>
                <td th:text="${conflictUpdateDto.stockQuantity}"></td>
            </tr>
            </tbody>
        </table>

        <p>
        <form th:action="@{/api/admins/products/{id}(id=${product.publicProductId})}"
              th:object="${conflictUpdateDto}" method="post">
            <input type="hidden" name="_method" value="PATCH" />

            <input type="hidden" th:field="*{price}" />
            <input type="hidden" th:field="*{stockQuantity}" />

            <input type="hidden" th:field="*{name}" />
            <input type="hidden" th:field="*{categoryPublicId}" />

            <button type="submit" class="btn btn-success">
                Обновить цену и количество существующего товара
            </button>
        </form>

        <a th:href="@{/api/admins/products/add}" class="btn btn-secondary">
            Отменить и вернуться к форме создания
        </a>
        </p>
    </div>

    <h1>Редактирование товара <span th:text="${product.parameters.?[key == 'brand'][0]?.value}">
    </span></h1>
    <div th:if="${successMessage}" class="alert alert-success">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <span th:text="${errorMessage}"></span>
    </div>

    <div  th:unless="${hasConflict}" class="mt-4">
        <h5>Информация о товаре:</h5>
        <p><strong>Бренд товара:</strong>
            <span th:text="${product.parameters.?[key == 'brand'][0]?.value}">

            </span></p>
        <p><strong>Название товара:</strong> <span th:text="${product.name} ?: 'Не указан'"></span></p>
        <p><strong>Стоимость товара:</strong> <span th:text="${product.price} + ' ₽'"></span></p>
        <p><strong>Категория товара:</strong>
            <span th:each="category : ${categories}"
                  th:if="${category.publicCategoryId == product.categoryPublicId}"
                  th:text="${category.name}">
            </span>
        <p><strong>Количество товара:</strong> <span th:text="${product.stockQuantity} + ' шт.'"></span></p>
    </div>
    <table>
        <form th:action="@{'/api/admins/products/' + ${product.publicProductId}}"
              method="post" th:object="${productUpdateDto}">
            <input type="hidden" name="_method" value="patch"/>

            <div class="mb-3">
                <label class="form-label" for="name">Название товара</label>
                <input type="text" class="form-control" th:field="*{name}"/>
                <span class="text-danger"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Стоимость товара, руб</label>
                <input type="number" step="0.01" class="form-control" th:field="*{price}"/>
                <span class="text-danger"
                      th:if="${#fields.hasErrors('price')}"
                      th:errors="*{price}"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Категория:</label>
                <select name="categoryPublicId" class="form-select">
                    <option value="">-- Выберите категорию --</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.publicCategoryId}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label for="stockQuantity">Количество, шт</label>
                <input type="number" class="form-control" th:field="*{stockQuantity}"/>
                <span class="text-danger"
                      th:if="${#fields.hasErrors('stockQuantity')}"
                      th:errors="*{stockQuantity}"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="isDiscountCheckbox" th:field="*{isDiscount}">
                <label class="form-check-label" for="isDiscountCheckbox">
                    Действует скидка на товар?
                </label>
                <span class="text-danger"
                      th:if="${#fields.hasErrors('isDiscount')}"
                      th:errors="*{isDiscount}"></span>
            </div>

            <div id="discountPriceField"
                 class="mb-3"
                 th:style="${productUpdateDto.isDiscount} ? 'display: block;' : 'display: none;'">

                <label class="form-label" for="discountPrice">Стоимость товара со скидкой, руб</label>
                <input type="number" step="0.01" class="form-control" th:field="*{discountPrice}" id="discountPrice"/>
                <span class="text-danger"
                      th:if="${#fields.hasErrors('discountPrice')}"
                      th:errors="*{discountPrice}"></span>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                <a th:href="@{'/api/admins/products'}"
                   class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </table>
</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkbox = document.getElementById('isDiscountCheckbox');
        const priceField = document.getElementById('discountPriceField');
        const discountInput = document.getElementById('discountPrice');

        function toggleDiscountField() {
            if (checkbox.checked) {
                priceField.style.display = 'block';
                discountInput.setAttribute('required', 'required');
            } else {
                priceField.style.display = 'none';
                discountInput.removeAttribute('required');
                discountInput.value = '';
            }
        }
        checkbox.addEventListener('change', toggleDiscountField);
        toggleDiscountField();
    });
</script>
</body>
</html>