<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/header :: common-header('Редактирование категории')}">
</head>

<body>

<header>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-logo-text" style="display: flex; align-items: center; padding: 5px 0;">
                        <a class="logo">
                            <img src="/images/favicon.ico" alt="Логотип"
                                 style="height: 100px; margin-right: 60px; border-radius: 10px;">
                        </a>
                        <div style="display: flex; flex-direction: column; justify-content: center;">
                        <span class="shop-name"
                              style="color: yellowgreen; font-size: 30px; font-weight: 700; line-height: 1.2;">
                            Want It - Buy It
                        </span>
                            <span class="shop-slogan" style="color: white; font-size: 16px; font-weight: 500;">
                            (Онлайн магазин электроники)
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

<div class="admin-container">
    <div th:if="${successMessage}" class="alert alert-success">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <span th:text="${errorMessage}"></span>
    </div>
    <table>
        <form th:action="@{'/api/admins/categories/' + ${category.publicCategoryId}}"
              method="post" th:object="${categoryDto}">
            <input type="hidden" name="_method" value="patch" />

            <h3>Редактирование категории</h3>
            <div class="mt-4">
                <p><strong>Название текущей категории:  </strong><span th:text="${category.name}"></span></p>
            </div>

            <div class="mb-3">
                <label class="form-label" for="name"></label>
                <input type="text" class="form-control" th:field="*{name}"/>
                <span class="text-danger"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"></span>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                <a th:href="@{'/api/admins/categories'}"
                   class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </table>
</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>