<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('Заказы')}">
    <title>Управление заказами</title>
</head>

<body>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

<div class="welcome-container">
    <div th:if="${orders == null or orders.empty}">
        <p>Еще нет сделанных заказов</p>
    </div>
    <h1>Заказы</h1>
    <table>
        <tr>
            <th>ID заказа</th>
            <th>Email клиента</th>
            <th>Способ доставки</th>
            <th>Статус оплаты</th>
            <th>Статус заказа</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.publicOrderId}"></td>
            <td th:text="${order.userDetails.email}"></td>
            <td th:text="${order.deliveryMethodName.displayValue}"></td>
            <td th:text="${order.paymentStatusName.displayValue}"></td>
            <td th:text="${order.orderStatusName.displayValue}"></td>
            <td th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
            <td>
                <a th:href="@{'/api/admins/' + ${publicUserId} + '/orders/' + ${order.publicOrderId} + '/edit'}"
                   class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil"></i> Редактировать
                </a>
            </td>
        </tr>
    </table>
    <div th:if="${orders.totalPages > 0}" class="pagination">
        <a th:if="${orders.hasPrevious()}"
           th:href="@{/api/admins/{publicUserId}/orders(publicUserId=${publicUserId}, page=${orders.number - 1}, limit=${orders.size})}"
           class="page-link previous">Предыдущая</a>

        <span class="page-number">
                <em th:text="${orders.number + 1}"></em> из <em th:text="${orders.totalPages}"></em>
            </span>

        <a th:if="${orders.hasNext()}"
           th:href="@{/api/admins/{publicUserId}/orders(publicUserId=${publicUserId}, page=${orders.number + 1}, limit=${orders.size})}"
           class="page-link next">Следующая</a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>