<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/header :: common-header('Admin products')}">
    <style>
        .product-thumbnail {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>

<header>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-logo-text" style="display: flex; align-items: center; padding: 5px 0;">
                        <a class="logo">
                            <img src="/images/favicon.ico" alt="Логотип"
                                 style="height: 100px; margin-right: 60px; border-radius: 10px;">
                        </a>
                        <div style="display: flex; flex-direction: column; justify-content: center;">
                        <span class="shop-name"
                              style="color: yellowgreen; font-size: 30px; font-weight: 700; line-height: 1.2;">
                            Want It - Buy It
                        </span>
                            <span class="shop-slogan" style="color: white; font-size: 16px; font-weight: 500;">
                            (Онлайн магазин электроники)
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

<div class="admin-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Товары</h2>
        <a th:href="@{/api/admins/products/add}" class="btn btn-primary">
            <i class="bi bi-plus-circle me-2"></i> Добавить товар
        </a>
    </div>

    <div th:if="${successMessage}" class="alert alert-success">
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger">
        <span th:text="${errorMessage}"></span>
    </div>

    <table>
        <tr>
            <th></th>
            <th>Бренд</th>
            <th>Название модели</th>
            <th>Цвет</th>
            <th>Стоимость, ₽</th>
            <th>Вес, гр</th>
            <th>Наличие, шт</th>
            <th>Действия</th>
        </tr>
        <tr th:each="product : ${products}">
            <td>
                <img th:src="@{${product.imagePath != null ? product.imagePath : '/images/WI-BI.png'}}"
                     class="product-thumbnail"/>
            </td>
            <td th:text="${#lists.isEmpty(product.parameters.?[key == 'brand'])
                        ? ''
                        : product.parameters.?[key == 'brand'][0].value}">
                Apple
            </td>
            <td th:text="${product.name}">Iphone</td>
            <td th:text="${#lists.isEmpty(product.parameters.?[key == 'color'])
                        ? ''
                        : product.parameters.?[key == 'color'][0].value}">
                Green
            </td>
            <td th:text="${product.price}">1000</td>
            <td th:text="${product.weight}">240</td>
            <td th:text="${product.stockQuantity}">10</td>
            <td>
                <div class="d-flex gap-2 align-items-center">
                    <a th:href="@{'/api/admins/products/' + ${product.publicProductId}}"
                       class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil"></i> Редактировать
                    </a>
                    <form th:action="@{'/api/admins/products/' + ${product.publicProductId}}"
                          method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <div th:if="${products.totalPages > 0}" class="pagination">
        <a th:if="${products.hasPrevious()}"
           th:href="@{/api/admins/products(page=${products.number - 1}, limit=${products.size})}"
           class="page-link previous">Предыдущая</a>

        <span class="page-number">
                <em th:text="${products.number + 1}"></em> из <em th:text="${products.totalPages}"></em>
            </span>

        <a th:if="${products.hasNext()}"
           th:href="@{/api/admins/products(page=${products.number + 1}, limit=${products.size})}"
           class="page-link next">Следующая</a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>