<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('Отчет по выручке')}">
</head>
<body>

<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<div class="welcome-container">
    <h1>Отчет по выручке</h1>

    <div th:if="${topRevenue == null or topRevenue.empty}">
        <p>Нет завершенных заказов за выбранный период</p>
    </div>
    <table th:unless="${topRevenue == null or topRevenue.empty}">
        <tr>
            <th>Идентификатор заказа</th>
            <th>Статус заказа</th>
            <th>Дата создания заказа</th>
            <th>Выручка по заказу, руб.</th>
        </tr>
        <tr th:each="revenue : ${topRevenue}">
            <td th:text="${revenue.publicOrderId}"></td>
            <td th:text="${revenue.name}"></td>
            <td th:text="${#temporals.format(revenue.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${revenue.totalOrderSpent}"></td>
        </tr>
        <tr>
            <td colspan="3"><strong>Общая выручка:</strong></td>
            <td th:text="${topRevenue[0].totalRevenue} + ' ₽'"></td>
        </tr>
    </table>
</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>