<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('ТОП Товары')}">
</head>
<body>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<div class="welcome-container">
    <h1>ТОП популярных товаров</h1>
    <div th:if="${topProducts == null or topProducts.empty}">
        <p>Нет популярных продуктов за выбранный период</p>
    </div>
    <table th:unless="${topProducts == null or topProducts.empty}">
        <tr>
            <th>Бренд</th>
            <th>Название модели</th>
            <th>Цвет</th>
            <th>Стоимость, ₽</th>
            <th>Количество проданных, шт</th>
        </tr>
        <tr th:each="product : ${topProducts}">
            <td th:text="${product.brand}">Apple</td>
            <td th:text="${product.name}">Iphone</td>
            <td th:text="${product.color}">Green</td>
            <td th:text="${product.price}">1000</td>
            <td th:text="${product.purchaseCount}">333</td>
        </tr>
    </table>
    <div th:if="${topProducts.totalPages > 0}" class="pagination">
        <a th:if="${topProducts.hasPrevious()}"
           th:href="@{/api/admins/{publicUserId}/statistics/top-products(publicUserId=${publicUserId}, page=${topProducts.number - 1}, limit=${topProducts.size})}"
           class="page-link previous">Предыдущая</a>

        <span class="page-number">
                <em th:text="${topProducts.number + 1}"></em> из <em th:text="${topProducts.totalPages}"></em>
            </span>

        <a th:if="${topProducts.hasNext()}"
           th:href="@{/api/admins/{publicUserId}/statistics/top-products(publicUserId=${publicUserId}, page=${topProducts.number + 1}, limit=${topProducts.size})}"
           class="page-link next">Следующая</a>
    </div>

</div>
<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>