<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('Отчет по выручке')}">
</head>
<body>

<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<div class="welcome-container">
    <h1>Отчет по выручке</h1>

    <div th:if="${topRevenue == null or topRevenue.empty}">
        <p>Нет завершенных заказов за выбранный период</p>
    </div>
    <table th:unless="${topRevenue == null or topRevenue.empty}">
        <tr>
            <th>Идентификатор заказа</th>
            <th>Статус заказа</th>
            <th>Дата создания заказа</th>
            <th>Выручка по заказу, руб.</th>
        </tr>
        <tr th:each="revenue : ${topRevenue}">
            <td th:text="${revenue.publicOrderId}"></td>
            <td th:text="${revenue.name.displayValue}"></td>
            <td th:text="${#temporals.format(revenue.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${revenue.totalOrderSpent}"></td>
        </tr>
        <tr>
            <td colspan="3"><strong>Общая выручка:</strong></td>
            <td th:text="${totalRevenue}"></td>
        </tr>
    </table>
    <div th:if="${topRevenue.totalPages > 0}" class="pagination">
        <a th:if="${topRevenue.hasPrevious()}"
           th:href="@{/api/admins/statistics/top-revenue(page=${topRevenue.number - 1}, limit=${topRevenue.size})}"
           class="page-link previous">Предыдущая</a>

        <span class="page-number">
                <em th:text="${topRevenue.number + 1}"></em> из <em th:text="${topRevenue.totalPages}"></em>
            </span>

        <a th:if="${topRevenue.hasNext()}"
           th:href="@{/api/admins/statistics/top-revenue(page=${topRevenue.number + 1}, limit=${topRevenue.size})}"
           class="page-link next">Следующая</a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>