<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('ТОП Покупатели')}">
</head>
<body>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<div class="welcome-container">
  <h1>ТОП покупателей</h1>
  <div th:if="${topUsers == null or topUsers.empty}">
    <p>Нет списка ТОП покупателей за выбранный период</p>
  </div>
  <table th:unless="${topUsers == null or topUsers.empty}">
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Email</th>
      <th>Сумма сделанных покупок</th>
    </tr>
    <tr th:each="user : ${topUsers}">
      <td th:text="${user.name}">Joe</td>
      <td th:text="${user.lastname}">Tribiani/td>
      <td th:text="${user.email}">ya@ya.ru</td>
      <td th:text="${user.totalSpent}">1000</td>
    </tr>
  </table>
</div>
<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>