<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('NavBar')}">
</head>
<body>
<nav th:fragment="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            <i class="bi bi-shop me-2"></i> Хочешь - купи
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${currentPath.startsWith('/api/users/home')} ? 'active'"
                       th:href="@{/api/users/home}">
                        <i class="bi bi-house-door me-1"></i> Главная
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       th:classappend="${currentPath.startsWith('/api/users/categories')} ? 'active'"
                       href="#"
                       id="categoriesDropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi bi-list-ul me-1"></i> Категории
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <li th:each="category : ${categories}">
                            <a class="dropdown-item"
                               th:href="@{'/api/users/products?publicCategoryIds=' + ${category.publicCategoryId}}"
                               th:text="${category.name}">
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>

                <li class="nav-item" th:unless="${#strings.startsWith(currentPath, '/api/admins')}">
                    <a class="nav-link"
                       th:classappend="${currentPath.startsWith('/api/users/cart')} ? 'active'"
                       th:href="@{/api/users/cart}">
                        <i class="bi bi-cart me-1"></i> Корзина
                        <span th:if="${cart != null and cart.cartItems.size() > 0}"
                              class="badge bg-danger rounded-pill ms-1"
                              th:text="${cart.totalQuantity}">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>