<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('Login-User')}">
</head>
<body>
<div th:replace="~{fragments/navbar :: main-navbar}"></div>

<div class="container mt-4">
    <div th:if="${successMessage}" class="alert alert-success">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <span th:text="${errorMessage}"></span>
    </div>

    <h2 class="mb-4">Войдите в приложение</h2>

    <form th:action="@{/api/auth/sign-in}" method="post" th:object="${userLoginDto}">
        <div class="mb-3">
            <label for="email" class="form-label">Введите электронную почту</label>
            <input type="email" class="form-control" id="email" th:field="*{email}"/>
            <span class="text-danger bg-white px-2 py-1 rounded d-inline-block mt-1"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"></span>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Введите пароль</label>
            <input type="password" class="form-control" id="password" th:field="*{password}"/>
            <span class="text-danger bg-white px-2 py-1 rounded d-inline-block mt-1"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"></span>
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>

</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>