<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Products Template</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}">

    <link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}">

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>

<header>
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-right">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link text-gray-300 hover:text-electro-red transition font-medium"
                       th:href="@{/api/auth/sign-in}">
                        <i class="fa fa-user mr-1"></i> Войти
                    </a>
                </li>
                <li sec:authorize="!isAuthenticated() and !hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link text-gray-300 hover:text-electro-red transition font-medium"
                       th:href="@{/api/auth}">
                        <i class="fa fa-user-plus mr-1"></i> Регистрация
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-logo-text" style="display: flex; align-items: center; padding: 5px 0;">
                        <a class="logo">
                            <img src="/images/favicon.ico" alt="Логотип"
                                 style="height: 100px; margin-right: 60px; border-radius: 10px;">
                        </a>
                        <div style="display: flex; flex-direction: column; justify-content: center;">
                        <span class="shop-name"
                              style="color: yellowgreen; font-size: 30px; font-weight: 700; line-height: 1.2;">
                            Want It - Buy It
                        </span>
                            <span class="shop-slogan" style="color: white; font-size: 16px; font-weight: 500;">
                            (Онлайн магазин электроники)
                        </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 clearfix">
                    <div class="header-ctn">
                        <ul class="flex-1 flex space-x-6 items-center">
                            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
                                <a class="nav-link text-white text-lg hover:text-electro-red transition font-medium"
                                   th:href="@{/api/users/cart}">
                                    <i class="fa fa-shopping-cart mr-1"></i> Корзина
                                    <span th:if="${cart != null and cart.cartItems.size() > 0}"
                                          class="cart-badge"
                                          th:text="${cart.totalQuantity}">0</span>
                                </a>
                            </li>

                            <li class="nav-item" sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')">
                                <a class="nav-link text-white text-lg hover:text-electro-red transition font-medium"
                                   th:href="@{'/api/users/orders'}">
                                    <i class="fa fa-bag-shopping mr-1"></i> Заказы
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a th:href="@{/api/users/products}">Главная</a></li>
                <li sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link text-gray-300 hover:text-electro-red transition font-medium"
                       th:href="@{/api/admins/home}">
                        <i class="fa fa-shield-alt mr-1"></i> Меню администратора
                    </a>
                </li>
                <li sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')"
                    class="nav-item dropdown relative group">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle me-1"></i> Мой аккаунт
                        <span sec:authentication="name"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" th:href="@{'/api/users/addresses'}">
                                <i class="bi bi-geo-alt me-2"></i> Мои адреса
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/api/users/orders}">
                                <i class="bi bi-bag me-2"></i> Мои заказы
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/api/users}">
                                <i class="bi bi-pencil me-2"></i> Редактировать профиль
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right me-2"></i> Выйти
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="welcome-container">
    <div th:if="${successMessage}" class="alert alert-success">
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${orders == null or orders.empty}">
        <p>Еще нет сделанных заказов</p>
    </div>
    <h1>Заказы</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Способ доставки</th>
            <th>Город</th>
            <th>Улица/Проспект</th>
            <th>Номер дома</th>
            <th>Номер квартиры</th>
            <th>Статус оплаты</th>
            <th>Статус заказа</th>
            <th>Дата</th>
            <th>Товары</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.userDetails.email}"></td>
            <td th:text="${order.deliveryMethodName.displayValue}"></td>
            <td th:text="${order.addressShortDetails.town}"></td>
            <td th:text="${order.addressShortDetails.street}"></td>
            <td th:text="${order.addressShortDetails.houseNumber}"></td>
            <td th:text="${order.addressShortDetails.flatNumber}"></td>
            <td th:text="${order.paymentStatusName.displayValue}"></td>
            <td th:text="${order.orderStatusName.displayValue}"></td>
            <td th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
            <td>
                <table>
                    <tr th:each="product : ${order.productShortDetails}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.quantity} + ' шт.'"></td>
                        <td th:text="${product.priceAtPurchase} + ' ₽'"></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${orders.totalPages > 0}" class="pagination">
        <a th:if="${orders.hasPrevious()}"
           th:href="@{/api/users/orders(page=${orders.number - 1}, limit=${orders.size})}"
           class="page-link previous">Предыдущая</a>

        <span class="page-number">
                <em th:text="${orders.number + 1}"></em> из <em th:text="${orders.totalPages}"></em>
            </span>

        <a th:if="${orders.hasNext()}"
           th:href="@{/api/users/orders(page=${orders.number + 1}, limit=${orders.size})}"
           class="page-link next">Следующая</a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>