<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: common-header('Отчет по выручке')}">
</head>
<body>
<div th:replace="~{fragments/navbar :: main-navbar}"></div>
<div class="welcome-container">
  <h1>Отчет по выручке</h1>
  <table>
    <tr>
      <th>Идентификатор заказа</th>
      <th>Статус заказа</th>
      <th>Дата создания заказа</th>
      <th>Выручка по заказу, руб.</th>
    </tr>
    <tr th:each="revenue : ${topRevenue}">
      <td th:text="${revenue.publicOrderId}">UUId Id</td>
      <td th:text="${revenue.name}">DELIVERED</td>
      <td th:text="${#temporals.format(revenue.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
      <td th:text="${revenue.totalOrderSpent}">1000</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Общая выручка:</strong></td>
      <td th:text="${topRevenue[0].totalRevenue} + ' ₽'"></td>
    </tr>
  </table>
</div>
<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>