<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="copy" id="footer">
        <div id="bottom-footer" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        &copy; 2025 Онлайн магазин "Хочешь - Купи"
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>